.nav_buton{
    background-color: white;
}
.nav-link{
    font-size: 1.2vw!important;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.nav_title{
    font-size: 1.6vw!important;
    margin-bottom: 1.8vh;
    margin-top: 1vh;
}